/* MENU */
.dir, .img-mg {
  cursor: pointer;
}
.dir:hover {
  background-color: var(--c-trans-light);
}

.menu-head {
  background-color: var(--c-main-dark);
  min-height: 50px;
  align-content: center;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}
.menu-card {
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;
  /* min-height: 500px; */
}

.img-mg {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 6px;
  padding-right: 6px;
  /* margin: 5px; */
}
.img-mg:hover {
  border-width: thin;
  border-color: var(--c-grey-light);
  border-style: solid;
  border-radius: 15%;
  background-color: #ffffff;
}

#menuUL {
  list-style-type: none;
}
