/* TABS */
.tab, .tab-main {
  background-color: var(--c-main-light);
  border-width: thin;
  border-color: var(--c-main-out);
  border-style: solid;
  min-height: 40px;
  align-content: center;
  color: var(--c-main-font);
}
.tab:hover, .tab-main:hover {
  background-color: var(--c-trans-light);
}

.tab-main {
  background-color: var(--c-main);
  border-bottom-color: var(--c-main);
  border-bottom-width: thick;
}

.tab-close {
  margin: 10px;
}
.tab-close:hover {
  background-color: var(--c-trans-dark);
}

/* EDITOR */
.CodeMirror, .editor-preview-full, .editor-preview-side {
  background-color: var(--c-main-light);
  color: var(--c-main-font);
  border-color: var(--c-main-out);
}

.EasyMDEContainer .CodeMirror {
  border-color: var(--c-main-out);
}
.EasyMDEContainer .CodeMirror-fullscreen {
  background-color: var(--c-main-light);
  color: var(--c-main-font);
}

.CodeMirror-linenumber {
  color: var(--c-main-out);
  background-color: var(--c-main);
}
.CodeMirror-gutters {
  background-color: var(--c-main);
  border-color: var(--c-main-out);
}
.editor-toolbar, .editor-toolbar.fullscreen {
  background-color: var(--c-main-dark);
  border-color: var(--c-main-out);
}
.editor-toolbar button {
  color: var(--c-main-font);
}
.editor-statusbar {
  color: var(--c-main-out);
}
