/* VARS */
:root {
  /* Sand theme */
  --c-sand-lite: #faeddc;
  --c-sand: #f8e6cc;
  --c-sand-dark: #dfb377;

  --c-main: var(--c-sand);
  --c-main-light: var(--c-sand-lite);
  --c-main-dark: var(--c-sand-dark);

  --c-trans-light: #00000015;
  --c-trans-dark: #00000093;
  --c-grey-light: #d1caca;
}
/* ALL */
body {
  --bs-body-bg: var(--c-main);
}

.shade-hover:hover {
  background-color: var(--c-trans-light);
  cursor: pointer;
}

.menu-card, .menu-head {
  border-width: thin;
  border-color: var(--c-grey-light);
  border-style: solid;
}

/* FILE BTN */
.file-place {
  min-height: 50px;
  align-content: center;
}

/* MENU */
.dir,.file,.img-mg {
  cursor: pointer;
}

.dir:hover,.file:hover {
  background-color: var(--c-trans-light);
}

.dir::before {
  content: url('./assets/folder.svg'); 
  margin-right: 6px;
}

.file::before {
  content: url('./assets/file.svg'); 
  margin-right: 6px;
}

.menu-head {
  background-color: var(--c-main-dark);
  min-height: 50px;
  align-content: center;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}
.menu-card {
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;
  min-height: 322px;
}

.img-mg {
  padding: 6px;
  /* margin: 5px; */
}
.img-mg:hover {
  border-width: thin;
  border-color: var(--c-grey-light);
  border-style: solid;
  border-radius: 15%;
  background-color: #ffffff;
}

#menuUL {
  list-style-type: none;
}

/* EDITOR */
.tab {
  background-color: var(--c-main-light);
  border-width: thin;
  border-color: var(--c-grey-light);
  border-style: solid;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  min-height: 40px;
  align-content: center;
}
.tab:hover {
  background-color: var(--c-trans-light);
}

.tab-close {
  margin: 10px;
}
.tab-close:hover {
  background-color: var(--c-trans-dark);
}

.CodeMirror {
  background-color: var(--c-main-light);
}
/* .CodeMirror-lines {
  color: #333; 
} */
.CodeMirror-linenumber {
  color: var(--c-trans-dark);
  background-color: var(--c-main);
}
.CodeMirror-gutters {
  background-color: var(--c-main);
}
.editor-toolbar {
  background-color: var(--c-main-dark);
}
.editor-toolbar a {
  color: var(--c-main-dark);
}